<div id="mi-form">
  <form action="mod/actividadescurso/render.php?id=" method="POST" class="formularioaenviar" id="u1a15" enctype="multipart/form-data">
    <label>Comentario: </label><br/>
    <textarea name="txtComentario" cols="60" rows="10" id="txtComentario"></textarea><br/>
    <input type="submit" id="enviar" name="btnEnviar" value="Enviar" />
  </form>
  <hr/>
  <div class="hidden"></div>
  <div class="comentarios-contenedor">
      <div id="comments" class="comentarios-users"></div>
  </div>
</div>